<!--
  Generated template for the StartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Start</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding *ngIf='userProfile'>
  <ion-grid style="height:100%">
    <ion-row style="min-height:100%" justify-content-center align-items-center>
      <ion-col col-auto text-center>
        <div *ngIf="defaultStructure">
          <button ion-button class="square-button large" *ngFor="let module of defaultStructure.modules" (click)="goTo(module?.module_key)">
              {{modulesService.getModuleName(module?.module_key)}}
          </button>
          <div class="adress" text-center>
            <ion-icon style="font-size:5em;" name="cog" (click)="goToConfig()"></ion-icon>
            <p>{{defaultStructure?.name}}</p>
            <p>{{defaultStructure?.contact.number}}, {{defaultStructure?.contact.street}}</p>
            <p>{{defaultStructure?.contact.city }}</p>
          </div>
          
        </div>
        <div *ngIf="needStructure">
          <ion-row justify-content-center>
            <ion-col col-4>
              <p>Vous n'avez aucune structure enregistrée.</p>
              <p>Veuillez tout d'abord vous choisir un pseudo, et vérifier votre adresse mail (il s'agit également de votre login).</p>
              <ion-item>
                <ion-label>Pseudo</ion-label>
                <ion-input name="pseudo"[(ngModel)]="userProfile.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>E-mail</ion-label>
                <ion-input name="email"[(ngModel)]="userProfile.mail"></ion-input>
              </ion-item>
              <p>Si vous avez reçu un code, introduisez le ici pour rattacher une strucutre existante à votre compte, sinon, cliquez sur "nouvelle structure"</p>
              <ion-item>
                <ion-label>Code Structure</ion-label>
                <ion-input name="struct_link"[(ngModel)]="structKeyToLink"></ion-input>
              </ion-item>
              <ion-buttons>
                <button ion-button clear outline (click)="updatePseudoAndShowAddForm()" [disabled]="!userProfile.name || structKeyToLink">Nouvelle Structure</button>
                <button ion-button clear outline (click)="updatePseudoAndLinkStructure()" [disabled]="!userProfile.name || !structKeyToLink">Lier structure</button>
              </ion-buttons>
            </ion-col>
            <ion-col *ngIf="showAddStruct">
              <add-structure [isDefault]="true" [userID]="userProfile.key "></add-structure>
            </ion-col>
          </ion-row>
        </div>
        <div class="options-ctrl" *ngIf="dataRetrieved">
          <p *ngIf="structure$">
            <span (click)="openAddStructureModal()">
                Ajouter une nouvelle struture
            </span>
           <span *ngIf="structures$?.length > 1"> | Charger une structure existante</span></p>
          <p>
            Bienvenue {{userProfile.name}} !<br/>
            <span (click)="disconnect()">- Se déconnecter -</span>
          </p>
          <p>
            Admin&Rent {{version}}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
