<!--
  Generated template for the RentalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content *ngIf="rentalsCharged">
  <div class="side-menu-container">
    <rental-menu></rental-menu>
  </div>
  <div padding class="panel-content">
    <ion-grid *ngIf="rentalCount >= 1; else noRentals">
      <ion-fab top right>
          <button ion-fab icon-only (click)="openNewRentalModal()">
            <ion-icon name="add"></ion-icon>
          </button>
      </ion-fab>
      <div>
          <button ion-button (click)="switchTab(2)" [disabled]="seeFirstContact">Demandes ({{rentalListFirstContact.length}})</button>
          <button ion-button (click)="switchTab(1)" [disabled]="seeListOption">Options ({{rentalListOption.length}})</button>
          <button ion-button (click)="switchTab(3)" [disabled]="seeListConfirmed">Confirmées ({{rentalListConfirmed.length}})</button>
          <button ion-button (click)="switchTab(5)" [disabled]="seeListDuePayment">Payements en attente ({{rentalListToBePaid.length}})</button>
          <button ion-button (click)="switchTab(4)" [disabled]="seeListOther">Terminées({{rentalListOver.length}})</button>
          <button ion-button (click)="switchTab(6)" [disabled]="seeAll">Toutes les locations ({{rentalList.length}})</button>
      </div>
      <div *ngIf="seeAll">
        <ion-row *ngFor="let rental of rentalList" align-items-center>
          <ion-col col-6>
            <rental-resume [rental]="rental" (click)="seeRentalDetails(rental.id)"></rental-resume>
          </ion-col>
          <ion-col>
            <rental-last-log [lastLog]="rental.log[0]"></rental-last-log>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="seeListOption">
        <ion-row *ngFor="let rental of rentalListOption" align-items-center>
          <ion-col col-6>
            <rental-resume [rental]="rental" (click)="seeRentalDetails(rental.id)"></rental-resume>
          </ion-col>
          <ion-col>
            <rental-last-log [lastLog]="rental.log[0]"></rental-last-log>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="seeListConfirmed">
        <ion-row *ngFor="let rental of rentalListConfirmed" align-items-center>
          <ion-col col-6>
            <rental-resume [rental]="rental" (click)="seeRentalDetails(rental.id)"></rental-resume>
          </ion-col>
          <ion-col>
            <rental-last-log [lastLog]="rental.log[0]"></rental-last-log>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="seeFirstContact">
        <ion-row *ngFor="let rental of rentalListFirstContact" align-items-center>
          <ion-col col-6>
            <rental-resume [rental]="rental" (click)="seeRentalDetails(rental.id)"></rental-resume>
          </ion-col>
          <ion-col>
            <rental-last-log [lastLog]="rental.log[0]"></rental-last-log>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="seeListOther">
        <ion-row *ngFor="let rental of rentalListOver" align-items-center>
          <ion-col col-6>
            <rental-resume [rental]="rental" (click)="seeRentalDetails(rental.id)"></rental-resume>
          </ion-col>
          <ion-col>
            <rental-last-log [lastLog]="rental.log[0]"></rental-last-log>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="seeListDuePayment">
        <ion-row *ngFor="let rental of rentalListToBePaid" align-items-center>
          <ion-col col-6>
            <rental-resume [rental]="rental" (click)="seeRentalDetails(rental.id)"></rental-resume>
          </ion-col>
          <ion-col>
            <rental-last-log [lastLog]="rental.log[0]"></rental-last-log>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
    <ng-template #noRentals>
      <div text-center padding-top margin-top>
        <h2>Oops, vous n'avez aucune location en cours</h2>
        <button ion-button outline block (click)="openNewRentalModal()">Créer une nouvelle location</button>
      </div>
    </ng-template>
  </div>
</ion-content>
