<!-- Generated template for the RentalResumeComponent component -->
<ion-grid>
  <ion-row align-items-center>
    <ion-col col-4>
      <div class="square-status {{getColorClass(rental.status)}}">
          <span class="option-status">{{getStatusLabel(rental.status)}}</span>
          <span class="payment-status">en attente de paiement</span>
      </div>
    </ion-col>
    <ion-col class="resume">
      <p class="name">{{rental?.name | trim : 30}}</p>
      <p class="location">{{getLocationLabel(rental.location_id)}}</p>
      <p class="dates">{{rental?.dates}}</p>
      <p class="contact">{{getContact()?.name}}</p>
      <p class="contact">{{getContact()?.tel}} | <a href="mailto:{{getContact()?.mail}}">mail</a></p>
    </ion-col>
  </ion-row>
</ion-grid>
