<!-- Generated template for the RentalResumeComponent component -->
<ion-grid>
  <ion-row align-items-center>
    <ion-col col-4>
      <div class="square-status {{color_class}}">
          <span class="option-status">{{status_label}}</span>
          <span class="payment-status">en attente de paiement</span>
      </div>
    </ion-col>
    <ion-col class="resume">
      <p class="name">{{rental.name | trim : 30}}</p>
      <p class="location">{{rental.location.label}}</p>
      <p class="dates" *ngIf="rental.date_label">{{rental.date_label}}</p>
      <p class="contact">{{contact.tel}} | {{contact.mail}}</p>
    </ion-col>
  </ion-row>
</ion-grid>
