page-connect {
    h1 {
        font-size: 35px;
        font-weight: 200;
        // width : 400px;
        margin-top: 0px;
    }

    // .square-button.small {
    //     width : 90px;
    //     height: 90px;
    // }

    // .square-button.large {
    //     width : 300px;
    //     height: 300px;
    // }

    // .square-button::before {
    //     content : "";
    //     padding-top : 100%;
    // }

    // .square-button {
    //     width: 90px;
    //     height: 90px;

    //     .button-inner {
    //         font-size: 28px;
    //         font-weight: 300;
    //         text-transform: lowercase;
    //     }
    // }
}
