<!--
  Generated template for the RentalDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content *ngIf="rental">
  <div class="side-menu-container">
    <rental-menu></rental-menu>
  </div>
  <div padding class="panel-content">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-6>
              <rental-resume [(rental)]="rental"></rental-resume>
            </ion-col>
            <ion-col col>
              <ion-textarea placeholder="Introduisez un message pour le journal" class="log" [(ngModel)]="logMsg"></ion-textarea>
              <button block ion-button (click)="saveAndLog()">Enregistrer</button>
              <button block ion-button icon-only outline (click)="deleteRental()">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--
          DETAILS
          *******************
        -->
        <ion-grid *ngIf="!showDetails">
          <ion-row justify-content-center>
            <ion-col col-2 text-center>
              <button ion-button (click)="toggleDetails()" icon-only color="greyback">
                <ion-icon name="arrow-dropdown"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="showDetails" id="config-panel">
          <ion-row justify-content-center>
            <ion-col col-2 text-center>
                <button ion-button (click)="toggleDetails()" color="greyback" icon-only outline>
                  <ion-icon name="arrow-dropup"></ion-icon>
                </button>
            </ion-col>
          </ion-row>
          <!--
            ROW 1
          -->
          <ion-row>
            <!--
              Name
            -->
            <ion-col col-6>
              <ion-item>
                <ion-label>Nom</ion-label>
                <ion-input [(ngModel)]="rental.name" (ngModelChange)="keepChangesTrack('Nom')"></ion-input>
              </ion-item>
            </ion-col>
            <!--
              Client
            -->
            <ion-col col-6>
              <ion-item>
                <ion-icon name="contact" item-start color="primary"></ion-icon>
                <ion-label>{{rental?.client?.name || placeholderClient }}</ion-label>
                <button ion-button icon-only outline item-end (click)="openClientModal()">
                    <ion-icon name="cog"></ion-icon>
                </button>
                <!-- <ion-input [disabled]="true" value="A implémenter"></ion-input> -->
              </ion-item>                
            </ion-col>
          </ion-row>
          <!--
            ROW 2
          -->
          <ion-row>
            <!--
              Status
            -->
            <ion-col col-6>
              <ion-item>
                <ion-label>Statut</ion-label>
                <ion-select [(ngModel)]="rental.status" (ngModelChange)="keepChangesTrack('Statut')">
                  <ion-option *ngFor="let option of rentalStatuses" [value]="option.code">{{option.label}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <!--
              Contract
            -->
            <ion-col col-6>
                <ion-item>
                    <ion-icon name="paper" item-start color="primary"></ion-icon>
                    <ion-label>{{outputContractStatus()}}</ion-label>
                    <button ion-button icon-only outline item-end (click)="openContractModal()" [disabled]="!quotationArgsExists || !clientExists">
                      <ion-icon name="cog"></ion-icon>
                    </button>
                </ion-item>  
            </ion-col>
          </ion-row>
          <!--
            ROW 3
          -->
          <ion-row>
            <!--
              Location
            -->
            <ion-col col-6>
              <ion-item>
                  <ion-label>Salle</ion-label>
                  <ion-select [(ngModel)]="rental.location_id" (ngModelChange)="keepChangesTrack('Salle')">
                    <ion-option *ngFor="let location of config.locations" [value]="location.id">{{location.label}}</ion-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <!--
              Quotation
            -->
            <ion-col col-6>
              <ion-item>
                  <ion-icon name="logo-euro" item-start color="primary"></ion-icon>
                  <ion-label>{{outputQuotationStatus()}}</ion-label>
                  <button ion-button icon-only outline item-end (click)="openQuotationModal()">
                    <ion-icon name="cog"></ion-icon>
                  </button>
              </ion-item>
            </ion-col>
          </ion-row>
          <!--
            ROW 4
          -->
          <ion-row>
            <!--
              Dates
            -->
            <ion-col col-6>
              <ion-item>
                  <ion-label>Période</ion-label>
                  <ion-input [(ngModel)]="rental.dates" (ngModelChange)="keepChangesTrack('Dates')"></ion-input>
              </ion-item>
            </ion-col>
            <!--
              Facture
            -->
            <ion-col col-6>
              <ion-item>
                <ion-icon name="cash" item-start color="primary"></ion-icon>
                <ion-label>{{outputInvoiceStatus() }}</ion-label>
                <button ion-button icon-only outline item-end (click)="openInvoiceModal()" [disabled]="!canOpenInvoice()">
                    <ion-icon name="cog"></ion-icon>
                </button>               
              </ion-item>
            </ion-col>
          </ion-row>
          <!--
            ROW 5
          -->
          <ion-row>
            <!-- Timestamp dates -->
            <ion-col col-6>
                <ion-item>
                  <ion-label>Dates</ion-label>
                  <ion-input [disabled]="true" value="A implémenter"></ion-input>
                </ion-item>                
              </ion-col>
            <ion-col col-6>
              <ion-item>
                  <ion-icon name="cash" item-start color="primary"></ion-icon>
                <ion-label>Fact. de Regu.</ion-label>
                <button ion-button icon-only outline item-end (click)="openInvoiceModal(true)" [disabled]="!canOpenRegInvoice()">
                    <ion-icon name="cog"></ion-icon>
                </button> 
              </ion-item>                
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row justify-content-between>
            <ion-col>
              <div class="main-option-container">
                <h2 class="title">horaire précis</h2>
                <ion-textarea class="fixed" [(ngModel)]="rental.schedule" (ngModelChange)="keepChangesTrack('Horaire Précis')"></ion-textarea>
              </div>
            </ion-col>
            <ion-col>
              <div class="main-option-container">
                <h2 class="title">remarques</h2>
                <ion-textarea class="fixed" [(ngModel)]="rental.notes" (ngModelChange)="keepChangesTrack('Remarques')"></ion-textarea>
              </div>
            </ion-col>
            <ion-col>
              <div class="main-option-container">
                <h2 class="title">Régisseurs</h2>
                <ion-textarea class="fixed"[(ngModel)]="rental.tech" (ngModelChange)="keepChangesTrack('Régisseur')"></ion-textarea>
              </div>
            </ion-col>
            <ion-col>
              <div class="main-option-container">
                <h2 class="title">contact</h2>
                <div>
                  <div *ngFor="let contact of rental.contact">
                    <ion-list>
                      <ion-item>
                        <ion-label>Nom :</ion-label>
                        <ion-input text-left [(ngModel)]="contact.name" (ngModelChange)="keepChangesTrack('Contact')"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label>E-mail :</ion-label><ion-input text-left [(ngModel)]="contact.mail" (ngModelChange)="keepChangesTrack('Contact')"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label>Téléphone :</ion-label><ion-input text-left [(ngModel)]="contact.tel" (ngModelChange)="keepChangesTrack('Contact')"></ion-input>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h2 class="title">journal</h2>
              <rental-last-log [logs]="rental.log"></rental-last-log>
            </ion-col>
          </ion-row>
        </ion-grid>
  </div>
</ion-content>
