rental-last-log {
    h2 {
        margin : 0px;
        font-size: 1em;
        padding: 0px 0px 5px 0px;
    }
    .log-container {
        background-color : rgba(245, 245, 245, 0.72);
        padding: 10px;
        .log {
            border-left : 1px solid grey;
        }
    }
    
}
