<!--
  Generated template for the RentalQuotationDashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content *ngIf="quotation">
  <div class="side-menu-container">
    <rental-menu></rental-menu>
  </div>
  <div padding class="panel-content">
    <div class="tabs">
        <span *ngFor="let tab of tabs" class="{{tab.class}}" (click)="showTab(tab.target)">
          {{tab.name}}
        </span>
    </div>
    <!--
      PRICES
    -->
    <div *ngIf="isShown(tabs[0].target)" id="prices" class="tab-panel">
      <ion-grid *ngFor="let priceCat of priceList">
        <ion-row class="grey-back">
          <ion-col col-8>
           <h2>{{priceCat.catName}}</h2>
          </ion-col>
          <ion-col col-1 text-center><h4>Prix</h4></ion-col>
          <ion-col col-1 text-center><h4>Coût</h4></ion-col>
          <ion-col col-1 text-center><h4>Marge</h4></ion-col>
        </ion-row>
        <ion-row no-margin align-items-center *ngFor="let option of priceCat.pricesList">
          <ion-col col-8>
            <ion-item>
              <button item-end ion-button icon-only (click)="showInfo(option)" [disabled]="!option.infos">
                <ion-icon name="ios-information-circle-outline" ></ion-icon>
              </button>
              {{option.label}}
            </ion-item>
          </ion-col>
          <ion-col col-1 text-center>{{option.amount}}€</ion-col>
          <ion-col col-1 text-center>{{option.cost}}€</ion-col>
          <ion-col col-1 text-center>{{getBalance(option)}}€</ion-col>
          <ion-col col-1 text-center>
              <button ion-button (click)="addOption(option, quotation)" *ngIf="!quotation.hasOption(option.id)">ajouter</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- 
      CALCUL
    -->
    <div *ngIf="isShown(tabs[1].target)" id="calcul" class="tab-panel">
      <!-- Options ADD -->
      <ion-grid padding class="add-option">
        <ion-row justify-content-center *ngIf="formErrorMsg">
          <ion-chip color="danger">
            <ion-label>{{formErrorMsg}}</ion-label>
            <ion-icon float-right (click)="hideMsg()" color="primary" name="close"></ion-icon>
          </ion-chip>
        </ion-row>
        <ion-row align-items-center>
          <ion-col col-11>
            <h2>
              <ion-icon color="primary" name="ios-information-circle-outline" (click)="showHelp()"></ion-icon>
              Ajouter une option libre
            </h2>
          </ion-col>
          <ion-col>
            <button ion-button block outline (click)="clearVariousOptionToAdd()">Vider</button>
          </ion-col>
        </ion-row>
        <!-- Could be abstracted in a component ? -->
        <ion-row align-items-center>
          <ion-col col-4 offset-1>
            <ion-item>
              <ion-label floating>Type de coût</ion-label>
              <ion-select [(ngModel)]="variousChargeTypeToAdd">
                <ion-option *ngFor="let charge of config.chargesTypeDetails; index as i" [value]="charge">{{charge.label}} (coût unitaire : {{charge.cost}}€)</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-1 *ngIf="variousChargeTypeToAdd && variousChargeTypeToAdd.cost != 0" text-center>
            <span class="multi">X</span>
          </ion-col>
          <ion-col col-3 *ngIf="variousChargeTypeToAdd && variousChargeTypeToAdd.cost != 0">
            <ion-item>
              <ion-label floating>Unités</ion-label>
              <ion-input [(ngModel)]="variousOptionToAdd.units" [readonly]="isQuotationApproved()" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1 *ngIf="variousChargeTypeToAdd && variousChargeTypeToAdd.cost != 0" text-center>
            <h3 class="mn">coût</h3>
            <p class="mn">{{variousChargeTypeToAdd.cost * variousOptionToAdd.units}}€</p>
          </ion-col>
          <ion-col col-1 *ngIf="variousChargeTypeToAdd && variousChargeTypeToAdd.cost != 0" text-center>
            <h3 class="mn">prix conseillé</h3>
            <p class="mn">{{variousChargeTypeToAdd.cost * variousOptionToAdd.units * 1.5}}€</p>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col col-4 offset-1>
            <ion-item>
              <ion-label floating>nom</ion-label>
              <ion-input [(ngModel)]="variousOptionToAdd.label" [readonly]="isQuotationApproved()"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-label floating>montant à facturer</ion-label>
              <ion-input [(ngModel)]="variousOptionToAdd.amount" [readonly]="isQuotationApproved()"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2>
            <ion-item>
              <ion-label floating>Catégorie</ion-label>
              <ion-select [(ngModel)]="variousOptionToAdd.catID">
                  <ion-option *ngFor="let category of config.categories; index as i" [value]="category.id">{{category.label}}</ion-option>
                </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <button ion-button clear large block icon-only (click)="addVariousOption()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Options devis-->
      <div *ngFor="let cat of sortedOptions; index as i">
        <div *ngIf="!cat.isPost">
          <ion-grid>
            <ion-row align-items-center>
              <ion-col col-8>
                <h2>{{cat.name}}</h2>
              </ion-col>
              <ion-col text-center col-1>
                <h3>prix</h3>
              </ion-col>
              <ion-col text-center col-1>
                <h3>coût</h3>
              </ion-col>
              <ion-col text-center col-1>
                <h3>marge</h3>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid *ngFor="let option of cat.options">
            <!-- Config pre-saved options -->
            <ion-row align-items-center *ngIf="option.id != 0; else freeOption">
              <ion-col col-1 offset-1>
                <ion-item>
                  <ion-input type="number" [(ngModel)]="option.unit" (ngModelChange)="modifyOption(option)" [readonly]="isQuotationApproved()">
                  </ion-input>>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <p>{{option.label}}</p>
              </ion-col>
              <ion-col text-center col-1>
                <p>{{option.amount * option.unit}}€</p>
              </ion-col>
              <ion-col text-center col-1>
                <p>{{option.cost * option.unit}}€</p>
              </ion-col>
              <ion-col text-center col-1>
                  <p>{{getBalance(option) * option.unit}}€</p>
                </ion-col>
              <ion-col col-1>
                <button block clear ion-button (click)="removeOption(option)">supprimer</button>
              </ion-col>
            </ion-row>
            <ng-template #freeOption>
              <ion-row align-items-center>
                <ion-col col-7 offset-1>
                  <ion-input class="simple" [(ngModel)]="option.label" (ngModelChange)="computeTotal()" [readonly]="isQuotationApproved()"></ion-input>
                </ion-col>
                <ion-col text-center col-1>
                    <ion-input text-center class="simple" [(ngModel)]="option.amount" (ngModelChange)="computeTotal()" [readonly]="isQuotationApproved()"></ion-input> 
                  </ion-col>
                <ion-col text-center col-1>
                    <ion-input text-center class="simple" [(ngModel)]="option.cost" (ngModelChange)="computeTotal()" [readonly]="isQuotationApproved()"></ion-input>
                </ion-col>
                <ion-col text-center col-1>
                    <p>{{getBalance(option) * option.unit}}€</p>
                </ion-col>
                <ion-col col-1>
                  <button clear block ion-button (click)="removeOption(option)">supprimer</button>
                </ion-col>
              </ion-row>
            </ng-template>
          </ion-grid>
          <ion-grid>
            <ion-row align-items-center>
              <ion-col col-8>
                <h4 text-right>
                  Total {{cat.name}} : 
                </h4>
              </ion-col>
              <ion-col text-center col-1>
                <h4>{{getCatTotal(i,'amount')}}€</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <!-- Quotation Total -->
      <ion-grid padding class="grey-back">
        <ion-row align-items-center style="border-bottom : solid 1px grey; margin-bottom:20px;">
          <ion-col col-8 text-right>
            <h2>TOTAL DEVIS</h2>
          </ion-col>
          <ion-col text-center col-1>
            <h3>prix</h3>
          </ion-col>
          <ion-col text-center col-1>
            <h3>coût</h3>
          </ion-col>
          <ion-col text-center col-1>
            <h3>marge</h3>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col col-8 text-right>
            <h4>Total avant remise : </h4>
          </ion-col>
          <ion-col text-center col-1>
            <h4>{{quotation.total.amount}}€</h4>
          </ion-col>
          <ion-col text-center col-1>
            <h4>{{quotation.total.cost}}€</h4>
          </ion-col>
          <ion-col text-center col-1>
            <h4>{{quotation.total.amount - quotation.total.cost}}€</h4>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col col-8 text-right>
            <h5><em>Remise Max : </em></h5>
          </ion-col>
          <ion-col text-center>
            {{quotation.total.amount-quotation.total.cost}}€
          </ion-col>
          <ion-col col-1 text-center>
            {{((quotation.total.amount-quotation.total.cost)/quotation.total.amount)*100 | round_percent }}
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col col-8 text-right>
            <h5 [ngClass]="checkFinalDiscount()">Remise appliquée :</h5>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-input text-center [(ngModel)]="quotation.discount" [readonly]="isQuotationApproved()">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1 text-center>
              {{(quotation.discount / quotation.total.amount)*100 | round_percent }}
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-8 text-right>
              <h4>Prix après remise : </h4>
            </ion-col>
            <ion-col text-center col-1>
              <h4>{{quotation.total.amount - quotation.discount}}€</h4>
            </ion-col>
            <ion-col text-center col-1>
              <h4>{{quotation.total.cost}}€</h4>
            </ion-col>
            <ion-col text-center col-1>
              <h4><span [ngClass]="checkFinalBalance()">{{quotation.total.amount - quotation.discount - quotation.total.cost}}€</span></h4>
            </ion-col>
          </ion-row>
      </ion-grid>
      <!-- Post Quotation Details -->
      <div margin-top padding class="grey-back" text-right>
        <h6>Ici se trouve la liste des options hors-devis.<br/>(Pour ajouter une option, rendez-vous simplement dans l'onglet "options")</h6>
        <div *ngFor="let cat of sortedOptions; index as i">
          <div padding-top *ngIf="cat.isPost">
            <h2>{{cat.name}}</h2>
            <ion-item *ngFor="let option of cat.options">
              <button ion-button item-end (click)="removeOption(option)">Retirer</button>
              {{option.label}}
            </ion-item>
          </div>
        </div>
      </div>
    </div>
    <!-- 
      3 / RECAP 
    -->
    <div *ngIf="isShown(tabs[2].target)" id="recap" class="tab-panel">
      <div text-center *ngFor="let chargeType of config.chargesTypes">
        <h2>{{chargeType.label}} | {{computeCostByChargeType(chargeType.id)}}€</h2>
        <div *ngFor="let options of sortedOptions">
          <div *ngFor="let option of options.options">
            <p *ngIf="getChargeTypeId(option.chargeId) === chargeType.id && !options.isPost">
              {{getChargeLabel(option.chargeId)}} {{option.cost * option.unit}}€ (soit {{getChargeUnits(option.chargeId, option.cost * option.unit)}} x {{getChargeCost(option.chargeId)}}€ pour {{option.label}})
            </p>
          </div>
        </div>
      </div>
      <div text-center padding margin class="grey-back total-recap">
        <p>
          Total : {{quotation.total.cost}}€
        </p>
        <p>
          Prix demandé : {{quotation.total.amount - quotation.discount}}€
        </p>
        <p>
          Marge : {{quotation.total.amount-quotation.discount-quotation.total.cost}}€
        </p>
      </div>
    </div>
    <!-- 
      4 / VERBOSE QUOTATION 
    -->
    <div *ngIf="isShown(tabs[3].target)" id="verboseQuotation" class="tab-panel">
      <div class="verbose-container">
        <!-- QUOTATION LINES -->
        <div class="verbose-lines">
          <div text-center *ngFor="let cat of quotation.verbose.categories;index as catIndex">
            <h2 class="cat-title">
              <ion-input text-center [(ngModel)]="cat.label"></ion-input>
            </h2>
            <p style="padding:10px 35px;" *ngFor="let line of cat.lines">
              <textarea [(ngModel)]="line.label"></textarea>
              
              <ion-item class="add-line">
                  <ion-input type='number' [(ngModel)]="line.amount" (ngModelChange)="computeVerboseTotal()"></ion-input>
                  <button ion-button item-end outline (click)="deleteVerboseLine(cat.label, line)">Supprimer</button>
                  <ion-icon name="logo-euro" item-end></ion-icon>
                </ion-item>

            </p>
            <p style="padding:10px;">
              <textarea [(ngModel)]="linesToAdd[catIndex].label"></textarea>
              <ion-item class="add-line">
                <ion-input type='number' [(ngModel)]="linesToAdd[catIndex].amount"></ion-input>
                <button ion-button item-end (click)="addVerboseLine(cat.label, linesToAdd[catIndex], catIndex)">Ajouter</button>
                <ion-icon name="logo-euro" item-end></ion-icon>
              </ion-item>
            </p>
          </div>
          <!-- QUOTATION TOTAL -->
          <div margin padding text-center class="total-recap grey-back">
            <p>Montant avant remise : {{quotation.verbose.amount}}€</p>
            <p> - <input text-center [(ngModel)]="quotation.verbose.discount" (ngModelChange)="computeVerboseTotal()"> €</p>
            <p>Montant après remise : {{quotation.verbose.amount - quotation.verbose.discount}}€</p>
          </div>
          <!-- QUOTATION POST EVENT PRICES -->
          <div text-center class="postDevis" *ngIf="quotation.verbose.postQuotation">
            <h2>Frais hors devis</h2>
            <p *ngFor="let option of quotation.verbose.postQuotation">{{option.label}} - {{option.normal_price}}€ (coût de {{option?.cost}}€) facturé à <input [(ngModel)]="option.price"  width="5">€ <button (click)="clearPostLine(option.id)">clear</button></p> 
          </div>
        </div>
        <!-- QUOTATION CONTROL-->
        <div class="verbose-control grey-back">
          <button block ion-button (click)="resetVerbose()">Copier le calcul</button>
          <h4 text-center>
            Total Facturé : {{quotation.verbose.amount - quotation.verbose.discount}}€
          </h4>
          <h4 text-center>
            Total devis : {{quotation.total.amount-quotation.discount}}€
          </h4>
          <ion-item>
            <ion-label>Date du devis</ion-label>
            <ion-input [(ngModel)]="quotation.verbose.date"></ion-input>
          </ion-item>
          <textarea style="width:100%; margin-top:20px" [(ngModel)]="quotation.verbose.note" placeholder="Remarques éventuelles à ajouter au devis..."></textarea>
          <div class="info" *ngIf="!isVerboseCorrect(); else verboseCorrect">
            <p text-center>
              Attention, il existe une différence de entre le montant facturé au devis et le montant calculé de <span [ngClass]="checkZero((quotation.verbose.amount - quotation.verbose.discount) - (quotation.total.amount - quotation.discount))">{{(quotation.verbose.amount - quotation.verbose.discount) - (quotation.total.amount - quotation.discount)}}€</span>
            </p>
            <p text-center>(Modifier les lignes du devis ou cliquez sur copier le calcul pour corriger automatiquement)</p>
          </div>
          <ng-template #verboseCorrect>
            <p text-center>
              Tout va bien ! Le montant facturé est égal au devis.
            </p>
          </ng-template>
          <button ion-button clear block (click)="goToPrint()">Imprimer</button>
        </div>
      </div> 
    </div>
  </div>
</ion-content>
