rental-config {
    ion-input.simple > input {
            border: 1px solid grey;
            padding: 10px;
            margin: 0px;
    }

    .multi {
        font-weight: 600;
        display: block;
        text-align: center;
    }
}
